$main-light-color: #d1932a;
$main-dark-color: #bb842b;
$secondary-color: #001a33;
$white: #fff;
$black: #000;
$whatsapp: #25d366;
// $main-font: "Inter", sans-serif; /* Geral */
// $secondary-font: "Source Serif Pro", serif; /* Textinhos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: white;
}
/* box error do painel */

div.erro_box {
    margin: 0.5rem 0;
    background: linear-gradient(to left, #ff2a2a, #ff2a2a);
}

div.callback_success {
    margin: 0.5rem 0;
    background: linear-gradient(to left, #6fcf97, #6fcf97);
}

div.erro_box,
div.callback_success {
    padding: 0.5rem;
    height: 2rem;
    text-align: left;
    position: relative;
    top: -1rem;
    color: white;
    font-weight: bold;
    text-shadow: -0.05rem 0.1rem 4px rgba(0, 0, 0, 0.6);
}

div.erro_box::before {
    border-top: 0.95rem solid #ff2a2a;
}

div.callback_success::before {
    border-top: 0.95rem solid #6fcf97;
}

div.erro_box::before,
div.callback_success::before {
    content: "-";
    font-size: 0.005px;
    position: absolute;
    bottom: -40%;
    /* background: linear-gradient(to left, #6FCF97, #6FCF97); */
    border-right: 0.8rem solid transparent;
    border-left: 0.8rem solid transparent;
}

/* btn */
.myBtn {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 0.25rem 3rem;
    border: none;
    color: #fff;
    background-color: $main-light-color;
    border: 0.1rem solid transparent;
    cursor: pointer;
    &:hover{
        color: $main-light-color;
        background-color: transparent;
        border: 0.1rem solid $main-light-color;
    }
}

.analytics .form_group_w50 p.voltar {
    text-align: left;
}

/* login */
section.hero_login {
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .box_login {
        display: block;
        width: 25rem;
        background-color: white;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 1rem;
        filter: drop-shadow(0 0 0.1rem #000);
        form{
            display: flex;
            flex-direction: column;
            input{
                &:focus{
                    outline: none;
                    filter: drop-shadow(0 0 0.01rem $main-light-color);
                }
                &::placeholder{
                    font-size: 1.15rem;

                }
            }
            input[type="email"],
            input[type="password"] {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            margin-top: 0.25rem;
            margin-bottom: 1.1rem;
            border: none;
            padding: 0.75rem;
            box-shadow: 0 0 0.09rem black;
            border-radius: 0.1rem;
            }
            input[type="submit"] {
                margin-right: 0.2rem;
                padding: 0.5rem;
                width: 48%;
            }
        }
        .hLogin {
            font-family:Arial, Helvetica, sans-serif;
            margin-top: 0.25rem;
            margin-bottom: 1rem;
            color: black;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: lighter;
            span {
                color: $main-light-color;
                font-weight: bold;
            }
        }
        .form_group_login {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            .mcontainer {
                margin-top: 1rem;
                width: 8.5rem;
                display: inline-block;
                position: relative;
                top: 0;
                cursor: pointer;
                font-size: 1.15rem;
                text-align: left;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                .checkmark {
                    position: absolute;
                    top: 0.15rem;
                    right: 2%;
                    height: 1.25rem;
                    width: 1.25rem;
                    background-color: #eee;
                    border-radius: 0.25rem;
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 7px;
                        top: 2px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        border: 0.25rem solid #ccc;
                        border-radius: 0.25rem;
                        font-weight: 600;
                        &:checked ~ .checkmark {
                            background-color: $main-light-color;
                        }
                        &:checked ~ .checkmark:after {
                            display: block;
                        }
                    }

                }
                &:hover input ~ .checkmark {
                    background-color: #ccc;
                }
            }


        }
    }
}

@media (max-width: 688px) {
    .box_login {
        width: 20rem;
        form input[type="submit"] {
        width: 100%;
        margin-right: 0rem;
        }
    }
}

@media (max-width: 400px) {
    .box_login {
        padding: 1rem;
        width: 90%;
        position: relative;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);
    }
}

/* home */
section.analytics {
    width: 100%;
    max-width: 64rem;
    height: auto;
    padding: 1rem 0.9rem;
    margin: 2rem auto;
    background-color: #f6f6f6;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 10%);
    border-radius: 1rem;
    position: relative;
    h2 {
        font-size: 1.25rem;
        line-height: 2rem;
        padding-left: 0.5rem;
        color: #444444;
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: 0.5s ease-in-out;
        & > i,
        & > ion-icon {
            font-size: 1.75rem;
            line-height: 2.5rem;
            padding: 0 0.5rem;
            color: #444444;
        }
    }
    .flex-row-analytiics {
        margin: 1rem auto;
        max-width: 62rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        text-align: left;
        color: #fff;
        height: auto;
        i,
        ion-icon {
            position: absolute;
            font-size: 2rem;
            line-height: 3rem;
            top: 40%;
        }
        &.cliques {
            height: auto;
            .cliques i,
             .ion-icon {
                font-size: 7rem;
                color: #ffffff44;
                top: 10%;
                right: 1.5rem;
            }
            div {
                width: 45%;
                height: 100%;
                min-width: 17rem;
                min-height: 8rem;
                overflow: hidden;
                & > h3 {
                    font-size: 2rem;
                    line-height: 3rem;
                    &.number {
                        margin-left: 25%;
                        font-size: 3.25rem;
                        line-height: 4.25rem;
                    }
                }
            }
        }
        div {
            width: 30%;
            padding: 0.5rem 1rem;
            position: relative;
            min-width: 14rem;
            border-radius: 1rem;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);

            & > h3 {
                font-size: 1.5rem;
                line-height: 2.25rem;
            }
        }
        .visitas-online {
            background-color: #44aa00;
        }
        .visitas-total {
            background-color: #54a0ff;
        }
        .cliques-adquirir {
            background-color: #ff9f43;
        }
        .cliques-Hoje {
            background-color: #54a0ff;
        }
        .cliques-Total {
            background-color: #ff9f43;
        }
    }
    span {
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    p {
        font-size: 2rem;
        line-height: 3rem;
        text-align: right;
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0;
        gap: 2%;
        label {
            font-size: 1.1rem;
            font-weight: 300;
            color: black;
        }
        .form_group {
            width: 100%;
            height: auto;
            margin: 0.5rem 0;
            &.image {
                position: relative;
            }
            #fileLabel {
                position: absolute;
                top: 1.75rem;
                right: 1%;
                img {
                    width: 0px;
                    height: 0px;
                    visibility: hidden;
                }
            }
        }
        .form_group_w50 {
            width: 49%;
            height: auto;
            margin: 0.5rem 0;
        }
        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="number"],
        textarea {
            position: relative;
            top: 3px;
            margin-top: 0.5rem;
            font-size: 1rem;
            font-weight: normal;
            width: 100%;
            height: 2.75rem;
            padding-left: 0.5rem;
            border: none;
            border: 0.1rem solid #ccc;
            border-radius: 0.25rem;
        }
        input[type="file"] {
            margin-top: 0.5rem;
            width: 100%;
            padding: 0.5rem;
            border: 0.1rem solid #ccc;
            border-radius: 0.25rem;
        }
        textarea {
            height: 10rem;
            padding: 0.5rem;
            resize: vertical;
        }
        select {
            margin-top: 0.5rem;
            font-size: 1rem;
            font-weight: normal;
            width: 100%;
            height: 2.75rem;
            padding: 0.5rem;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            border: 0.1rem solid #ccc;
            border-radius: 0.25rem;
            cursor: pointer;
        }
        .down-arrow::after {
            display: block;
            text-align: right;
            margin-top: -2.5rem;
            margin-right: 0.5rem;
            content: "\2193";
            font-size: 1.75rem;
            color: #aaa;
            cursor: pointer;
        }
    }
}

@media (max-width: 720px) {
    .analytics .flex-row-analytiics.cliques div {
        width: auto;
        height: 100%;
        min-width: 14rem;
        min-height: 8rem;
        & > h3 {
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
    }

}

/* table */
table {
    margin: 2% auto;
    width: 100%;
    max-width: 60rem;
    height: auto;
    text-align: left;
    border-collapse: collapse;
    border-right: 0.1rem solid #3f3f3f;
    border-left: 0.1rem solid #3f3f3f;
    background-color: #f5f5f5;
    th {
        padding: 0.7rem 0.55rem;
        width: 2% auto;
        height: 2rem;
        background-color: #3d3d3d;
        color: white;
        font-weight: normal;
    }
    tr {
        width: 100%;
        transition: opacity 1s;
        justify-content: space-between;
        td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.9rem;
            color: #3d3d3d;
            padding: 0.5rem;
            width: 25%;
            height: 1.5rem;
            border-bottom: 0.1rem solid #3d3d3d;
        }
    }
}

/* Rede benefícios */
h3.slides {
    margin-top: 1rem;
}

td.s_icones > i {
    font-size: 1.5rem;
    line-height: 30px;
}

td > img.slide {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    filter: drop-shadow(0 0 0.1rem #000);
}

td a.btn_edit,
td a.btn_delete,
td a.btn_info {
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    height: auto;
    color: white;
    cursor: pointer;
    box-shadow: 0.05rem 0.05rem 1px black;
    font-size: 1rem;
}

td a.btn_edit {
    background-color: #008dff;
}

td a.btn_delete {
    background-color: #ff0038;
}

td a.btn_info {
    background-color: #2b2b2b;
}

td a.btn_edit:hover {
    background-color: #008dffcc;
}

td a.btn_delete:hover {
    background-color: #ff0038cc;
}

div.paginacao {
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    & > a {
        user-select: none;
        line-height: 1.5rem;
        cursor: pointer;
        display: block;
        color: transparent;
        width: 1.25rem;
        height: 1.5rem;
        text-decoration: none;
        box-shadow: 0 0 0 0.05rem #606060;
        border-radius: 0.15rem;
        margin: 0 0.1rem;
        position: relative;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        &.selected {
            border: none;
            box-shadow: none;
            color: transparent;
            background-color: $main-light-color;
        }
    }
    &.home > a {
        color: transparent;
        &::before {
            content: "";
            position: absolute;
            width: 3rem;
            height: 3rem;
            left: 0;
            bottom: -100px;
            background-color: $main-light-color;
            transition: 0.3s ease-in-out;
        }
        &.selected {
            box-shadow: 0 0 0 0.1rem #60606000;
            background-color: #023bbf;
            border: none;
            &::before {
                bottom: 0;
            }
        }
    }
}

/* adicionar faq */

section.options-faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    div.option {
        width: 45%;
        height: 10rem;
        position: relative;
        a {
            width: 80%;
            padding: 3rem 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #2b2b2b;
            font-size: 2rem;
            color: #fff;
            filter: drop-shadow(0 0 1px black);
            &:hover {
                color: #008dff;
                background-color: #2b2b2bdd;
            }
        }
    }
}


/* Modal */

#modal {
    position: absolute;
    top: 6rem;
    left: 25%;
    display: none;
    max-width: 440px;
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 10%);
    &.aberto {
        display: block;
    }
    .modal-header {
        background-color: $main-light-color;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        span {
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
        }
        .button-modal-fechar {
            border: none;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            color: #ffffff;
            font-size: 1.5rem;
            line-height: 1rem;
            cursor: pointer;
            filter: drop-shadow(0 0 8px #000000);
        }
    }
    .modal-body {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        min-height: 72px;
        padding: 0.5rem 0;
        display: block;
        .modal-grid main {
            display: grid;
            grid-gap: 0;
            margin: 0;
            padding: 0;
            min-height: 0;
            align-items: end;
            width: 100%;
            position: static;
        }
    }

}

.flexLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    .labelInput {
        white-space: nowrap;
        text-transform: uppercase;
        padding-right: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: #2b2b2b;
        line-height: 1.5rem;
    }
    hr {
        position: relative;
        top: 0rem;
        display: block;
        width: 60%;
        height: 1px;
        border: 0.05rem solid #2b2b2b;
        background-color: #2b2b2b;
    }
}

#modal .modal-body .modal-grid .modal-icon {
    grid-column: 1;
    padding: 0.5rem;
    text-align: center;
}

#modal .modal-body .modal-grid .modal-icon i {
    font-size: 2rem;
}

#modal .modal-body .modal-grid .modal-info-body {
    grid-column: 2;
    padding: 0.5rem;
}

#modal .modal-body .modal-grid .modal-info-body li {
    list-style: none;
    margin-left: 0;
    text-align: left;
}

#modal .modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

#modal .modal-footer .button-modal-fechar {
    cursor: pointer;
    background-color: $main-light-color;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/* ul list */
.gridTry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.analytics ul {
    width: 100%;
}

.analytics ul li {
    width: 100%;
    padding: 0.75rem 1rem;
    color: #fff;
    background: linear-gradient(to right, #023bbf, #023bbfee);
    border: none;
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.analytics ul a li:hover {
    color: $main-light-color;
    background: #ffffff;
}

@media (max-width: 720px) {
    .gridTry {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}

@import "pages/aside";
